textarea {
  width: 60%;
}

.displayContents {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.submit {
  width: fit-content;
  align-self: center;
  margin: 5px;
}
