.editor {
  grid-area: editor;
}

.form-control {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-content: center;
}

input[type='text'],
select,
textarea {
  background-color: gainsboro;
  border: none;
  border-radius: 2px;
  height: 2rem;
  width: 60%;
  margin-top: 20px;
}

input[type='text']:focus,
select:focus,
textarea:focus {
  border: none;
  box-shadow: 0 0 3px 2px var(--color5);
  outline: none;
}

input[type='text'] + label,
select + label,
textarea + label,
.form-control > label {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
